<nz-modal [(nzVisible)]="isVisible" nzTitle="Profil" (nzOnCancel)="onCancel()" (nzOnOk)="onOk()">

  <nz-upload [nzBeforeUpload]="onFileUpload" [nzAccept]="supportedTypes" class="profile-uploader">
    <div class="profil-picture">
      <i nz-icon nzType="edit"></i>
      <img [src]="photoUrl">
    </div>
  </nz-upload>
  <form nz-form nzLayout="vertical" [formGroup]="form">
    <nz-form-item>
      <nz-form-label nzFor="name" nzRequired>Username</nz-form-label>
      <nz-form-control [nzErrorTip]="usernameError">
        <input class="ant-input" type="text" name="username" id="username" formControlName="username" autocomplete="username">
        <ng-template #usernameError>
          <ng-container *ngIf="form.get('username')!.hasError('usernameAlreadyExists')">
            Ce nom d'utilisateur est déjà pris.
          </ng-container>
          <ng-container *ngIf="form.get('username')!.hasError('required')">
            Veuillez choisir un nom d'utilisateur
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
